html, body {
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
}

svg.space {
    width: 100%;
    height: 100%;
    /*background-color: gray;*/
}

svg.space g.orb circle {
    fill: green;
    stroke: black;
}

svg.space line.v {
    stroke: red;
}
